@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

#top {
	background-color: rgb(253, 84, 78);
	height: 60px;
}

#logo_img {
	display: inline-block;
	line-height: 60px;
	margin-left: 5px;
}

#logo_title {
	font-size: 20px;
	color: #fff;
	display: inline-block;
	line-height: 60px;
}

#top-right {
	position: absolute;
	right: 5px;
	top: 15px;
}

#username {
	color: #fff;
}

#left {
	border-right: solid 1px #eeeeee;
}

#left ul li {
	line-height: 30px;
	font-size: 16px;
	padding-left: 5px;
}


#SongPicBig {
	width: 50%;
	height: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 15%;
	border-radius: 50%;
	/* transform: rotate(360); */
	/* animation: rotation 15s linear infinite; */
}

@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

#bottom {
	/* position: fixed;
	bottom: 0; */
	height: 71px;
	/* width: 100%; */
	/* background-color: #dddddd; */
}

#music_title {}

#zj {}

#musican {}


#lyric li {
	line-height: 40px;
}

.lrcdiv {
	/* width:340px; */
	height: 450px;
	margin: 0 auto;
	overflow: hidden;
}

#lrclist {
	transform: translateY(200px);
	width: 500px;
}

li {
	margin-bottom: 15px !important;
}

ul {
	transition-duration: 600ms;
}

ul,
li {
	list-style: none;
	padding: 0;
}

li.on {
	color: #66CCFF;
	font-weight: bold;
	letter-spacing: 2px;
}

p {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 17px;
	line-height: 17px;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	text-align: left;
	margin-top: 0;
	margin-bottom: 16px;
}

audio {
	margin-top: 10px;
}
